@media (max-width: 248px) {
    .navbar-toggle {
        margin-left: 2px;
    }
}
@media (max-width: 227px){
    header .cuenta-tienda .nav-cuentatienda  .dropdown-menu{
        width: 10px !important;
        color: #0d0d0d;
        background-color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a{
        padding: 2px;
    }
    .navbar-toggle{
        position: static;
    }
    header .logo-xs{/*Estilos de logo para resolución xs,sm*/
        width: 73px;
        display:block;
        float: left;
        margin-left: 1px;
        margin-top: 10px;
    }
}
@media screen and (max-width:843px){
    header .logo-lg {
        width: 200px;
    }
    header .navbar-default .navbar-nav > li > a{
        margin-top: 105px;
    }    
} 
@media screen and (max-width:823px){
    header .logo-lg {
        width: 190px;
    }
    header .navbar-default .navbar-nav > li > a{
        margin-top: 100px;
    }    
}
@media screen and (max-width:813px){
    header .logo-lg {
        width: 180px;
    } 
    header .navbar-default .navbar-nav > li > a{
        margin-top: 95px;
    }    
}
@media screen and (max-width:803px){
    header .logo-lg {
        width: 170px;
    } 
    header .navbar-default .navbar-nav > li > a{
        margin-top: 90px;
    }    
}
@media screen and (max-width:793px){
    header .logo-lg {
        width: 160px;
    } 
    header .navbar-default .navbar-nav > li > a{
        margin-top: 85px;
    }    
}
@media screen and (max-width:783px){
    header .logo-lg {
        width: 150px;
    } 
    header .navbar-default .navbar-nav > li > a{
        margin-top: 80px;
    }    
}
@media screen and (max-width:773px){
    header .logo-lg {
        width: 140px;
    } 
    header .navbar-default .navbar-nav > li > a{
        margin-top: 75px;
    }  
    header .logo-xs{/*Estilos de logo para resolución xs,sm*/
        width: 100px;
        display:block;
        margin:auto;
        margin-top: 5px;
    }  
    .dropdown-menu {
    position: absolute;
    /* top: 100%; */
    /* left: 0; */
    /* z-index: 1000; */
    display: none;
    float: left;
    min-width: 120px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    /* text-align: left; */
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /* border: 1px solid #ccc; */
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
}
  @media (max-width: 1060px){
    .nav.navbar-nav.menu li.opt{
        padding-left: 8%;
      }
  } 
  @media (max-width: 900px){
    .nav.navbar-nav.menu li.opt{
        padding-left: 5%;
      }
  } 
  @media screen and (max-width:767px){
    header .navbar-default .navbar-nav > li > a {
        margin-top: 10px;
    }
    header .navbar .navbar-collapse {
        text-align: left;
      }
      .header2 .navbar .navbar-collapse {
        text-align: left;
    }
    header .logo-lg {
        margin-left: 15px;
    } 
    
}


