@media (max-width: 767px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #0d0d0d;
    }
    .dropdown-menu .divider {
      width: 500px;
      height: 1px;
      margin: 9px -60px;
      overflow: hidden;
      background-color: #cccccc;
      border-bottom: #EAEAEA 1px solid;
      opacity: 0.5;
    }
} 
@media screen and (min-width:768px){
    ul.nav.navbar-nav.opt {
        margin-left: 100px;
    }
}
@media screen and (min-width:868px){
    ul.nav.navbar-nav.opt {
        margin-left: 150px;
    }
}
@media screen and (min-width:968px){
    ul.nav.navbar-nav.opt {
        margin-left: 190px;
    }
}
@media screen and (min-width:1068px){
    ul.nav.navbar-nav.opt {
        margin-left: 270px;
    }
}
@media screen and (min-width:1168px){
    ul.nav.navbar-nav.opt {
    margin-left: 50px;
    }
}
