/* MENU */
img.logo{
  width: 300px;
  float: center;
  margin-left: 30px; 
  margin-right: 120px;
}
.navbar.navbar-default{
  background-color: #ffffff;
  border: none;
  border-radius: 0%;
  border-bottom: #0d0d0d 1px solid;
}
.navbar-default .navbar-nav>li>a {
  color: #0d0d0d;
  font-size: 18px;
  font-weight: bolder;
  transform:scaley(1);
  letter-spacing:-1px;
  padding: 3px, 9px;
  height: 40px;
  width: 120px;
  text-align: justify;
}
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
  color: #0d0d0d;
  background-color: #ffffff;
  text-decoration: underline;
  text-decoration-color: #0d0d0d;
  vertical-align: baseline;
}
.mega-dropdown {
  position: static !important;
  background-color: #ffffff;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #0d0d0d;
  padding: 3px 30px;
  font-size: 13px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  text-decoration: underline;
  text-decoration-color: #0d0d0d;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 13px;
  font-weight: bold;
  color: #0d0d0d;
  padding:  5px 30px;
  line-height: 30px;
  transform:scaley(1);
  letter-spacing:-1px;
}
.navbar-nav.navbar-right>li>a{
  font-size: 13px;
  font-weight: bold;
  color: #0d0d0d;
  padding: 5px 10px;
  line-height: 30px;
  transform:scaley(1);
  letter-spacing:-1px;
}
.dropdown-menu .divider {
  width: 180px;
  height: 1px;
  margin: 9px 10px;
  overflow: hidden;
  background-color: #cccccc;
  border-bottom: #EAEAEA 1px solid;
  opacity: 0.5;
}
.btn.btn-primary{
  border-radius: 0%;
  border: #0d0d0d;
  color: #ffffff;
  background-color: #0d0d0d;
  
}
.dropdown-menu {
  color: #0d0d0d;
  font-size: 13px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: none;
  border-color: #0d0d0d;
}
.nav.navbar-nav.navbar-right .dropdown-menu {
  width: 40px !important;
  color: #0d0d0d;
  font-size: 13px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  border-radius: none;
  border-color: #0d0d0d;
}
.nav.navbar-nav.navbar-right .dropdown-menu .divider {
  width: 120px;
  height: 1px;
  margin: 9px 10px;
  overflow: hidden;
  background-color: #cccccc;
  border-bottom: #EAEAEA 1px solid;
  opacity: 0.5;
}
.dropdown-menu>li>a {
  padding: 3px 20px;
  color: #0d0d0d;
}
.dropdown-menu>li>a:hover {
  padding: 3px 20px;
  color: #0d0d0d;
  background-color: #ffffff;
  text-decoration: none;
  text-decoration: underline;
  text-decoration-color: #0d0d0d;
}







